.top-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  background-color: #f9f1ea;
}

.top-container .movie-title {
  width: 50%;
  margin-left: 10em;
  margin-top: 10em;
  color: #222222;
}

.top-container .movie-poster {
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.top-container .movie-poster img {
  height: 100%;
  border-radius: 3em;
  max-height: 35vh;
}

.down-container {
  display: flex;
  padding: 10em;
  text-align: justify;
  background-color: #f9f9fb;
  color: #313130;
}
