.App {
  display: flex;
  flex-direction: row;
  background-color: #f9f9fb;
  height: 100vh;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9fb;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  background-color: #e1e4f4;
  border-right: 5px inset #6c68c1;
  overflow: hidden;
}

.left-header {
  background-color: #e1e4f4;
  min-height: 11%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: table;
}

.left-header .left-logo {
  width: 100%;
  max-height: 10vh;
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 100;
  margin: 0;
  padding: 1em;
  letter-spacing: 0.2em;
  font-size: 1.3em;
}

.left-search {
  padding: 1em;
  height: 80%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #e1e4f4;
}

.back-button {
  display: none;
}

@media (max-width: 1000px) {
  .left-container {
    width: 100%;
  }

  .right-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
  }

  .back-button {
    display: block;
    position: fixed;
    top: 50%;
    left: 0.3em;
    transform: translateY(-50%);
    background-color: #e1e4f4;
    border: none;
    border-radius: 100%;
    opacity: 80%;
    padding: 0.6em;
    font-size: 1.5em;
    color: #6c68c1;
    z-index: 2;
  }

  .left-header {
    flex-direction: column;
    align-items: center;
    height: 20%;
  }

  .left-header h1 {
    font-size: 1.3em;
    padding: 0.7em;
  }
}

.animated-background {
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-background {
  background-image: linear-gradient(
    135deg,
    #ff9a9e 0%,
    #fad0c4 25%,
    #fbc2eb 50%,
    #a6c1ee 75%,
    #ff9a9e 100%
  );
}
