.App {
  text-align: center;
}

.App-header {
  background-color: #2eae87;
  height: 11vh;
  width: 25vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  max-width: 80%;
  max-height: 10vh;
  padding-left: 1vw;
}

.App-link {
  color: #61dafb;
}

.left-Menu {
  width: 25vw;
  height: 87vh;
  padding: 1em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
  background-color: #221435;
}
